fastapi
uvicorn

PyPDF2

langchain
langchain-community
langchain-huggingface
langchain-core
langchain_text_splitters
langchain_google_genai
langchain-ollama
huggingface-hub



pydantic
python-dotenv

chromadb
